.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  background-color: LightBlue;
}
 
.container div {
  background-color: #f1f1f1;
  width: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;  
  font-size: 30px;
}